@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #FEFAFF;
    padding: 10px;
}

main {
    width: 50vw;
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
}

#controls {
    position: relative;
    background-color: #F0EEF0;
    border-radius: 10px;
    border: 2px solid #E5E3E5;
    margin: 10px;
    width: 100%;
}

#options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#options > div {
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
    z-index: 1;
}

#slider {
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: #8AD3FAbb;
    width: calc(100% / 3 - 2px);
    height: calc(100% - 2px);
    border-radius: 7px;
    transition: left 0.3s;
}

#display {
    margin: 10px;
    background-color: #F0EEF0;
    border: 3px solid #E5E3E5;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 75vh;
    padding: 10px;
}

#upload {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
}

#remove {
    position: absolute;
    top: 0;
    right: 6px;
    font-size: 27px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: max-content;
    box-shadow: none;
    transition: transform 0.3s, color 0.3s;
    z-index: 10;
}

#remove ion-icon {
    margin: 0;
}

#remove:hover {
    color: #c00;
    transform: translateY(-1px);
}

#img-display {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}

canvas {
    position: absolute;
    border-radius: 3px;
}

#active-line, #lines > div {
    background-color: #0a0;
    position: absolute;
    transition: color 0.3s, width 0.3s, height 0.3s, transform 0.3s;
}

#lines > div {
    background-color: #0f0;
}

#active-line.horizontal, #lines > div.horizontal {
    height: 3px;
    width: 100%;
}

#active-line.vertical, #lines > div.vertical {
    height: 100%;
    width: 3px;
}

#active-line.erase {
    display: none;
}

#active-line.erase ~ #lines > div:hover {
    background-color: #f00;
    cursor: pointer;
}

#active-line.erase ~ #lines > .horizontal:hover {
    height: 10px;
    transform: translateY(-5px);
}

#active-line.erase ~ #lines > .vertical:hover {
    width: 10px;
    transform: translateX(-5px);
}

button {
    background-color: #5FB9E8;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 #a3a3a3;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #8AD3FA;
    transform: translateY(-2px);
    box-shadow: 0 5px 13px 0 #a3a3a3;
}

#submit {
    padding: 7px;
    display: block;
    margin: 20px auto;
}

label {
    padding: 7px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input {
    display: none;
}

ion-icon {
    transform: scale(1.25);
    margin-right: 5px;
}

ion-icon, ion-icon + span {
    vertical-align: middle;
}

.hidden {
    display: none;
}
