<h1>Chop</h1>

<div id="controls">
  <div id="options">
    <div id="horizontal">
      <span>
        <ion-icon name="swap-horizontal-outline"></ion-icon>
        <span>Horizontal</span>
      </span>
    </div>

    <div id="vertical">
      <span>
        <ion-icon name="swap-vertical-outline"></ion-icon>
        <span>Vertical</span>
      </span>
    </div>

    <div id="erase">
      <span>
        <ion-icon name="remove-circle-outline"></ion-icon>
        <span>Erase</span>
      </span>
    </div>
  </div>

  <div id="slider"></div>
</div>

<div id="display">
  <div id="img-display"></div>
  <div id="active-line" class="hidden horizontal"></div>
  <div id="lines"></div>

  <button id="upload">
    <label for="img-upload">
      <ion-icon name="image-outline"></ion-icon>
      <span>Upload Image</span>
    </label>
  </button>

  <button id="remove" class="hidden"><ion-icon name="close-circle-outline"></ion-icon></button>
</div>

<form  method="post" action="/chop" enctype="multipart/form-data">
  <input type="file" name="img" id="img-upload" />

  <button type="submit" id="submit">
    <ion-icon name="cut-outline"></ion-icon>
    <span>Chop Image</span>
  </button>
</form>

<script src="/js/upload.js"></script>
<script src="/js/remove.js"></script>
<script src="/js/controls.js"></script>
<script src="/js/move_line.js"></script>
<script src="/js/place_line.js"></script>
