<h1>Chop</h1>

<form  method="post" action="/chop" enctype="multipart/form-data">
  <label for="img">Upload Image</label>
  <input type="file" name="img" id="img" />
</form>

<div id="display">
  <img alt="uploaded image" src="" />
  <div id="lines"></div>
</div>

<script src="/js/upload.js"></script>
